// background colors
$txt-bg-dark: #333435;
$txt-bg-light: #f9fbfc;


// text variables
$fnt-dark: #3a3a3a;
$fnt-light: #fcfcfc;
$nav-clr: black;
$bdy-fnt: 1.1rem;
$rough-title: "Alder", serif;

//spacing variables
$frstTxt: 0.75rem 3rem 0.75rem;
$midTxt: 0rem 1rem 0.75rem 3rem;
$lastTxt: 0rem 3rem 4rem 3rem;
